# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.challenge-balloons.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\raoul\games\gamesMBOUTRECHT\challenge-balloons\.idea\.idea.challenge-balloons\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
